extends ../../layout

block content
    h1 Editar sala de chat

    form(method="post")
        fieldset.form-group
            label(for="name") Nome:
           -let roomName = room.name;
            input.form-control(name="name", type="text", placeholder="Enter a name", value=roomName)
            small.text-muted O nome da sala de chat
        button.btn.btn-primary(type="submit") Guardar
        a.btn.btn-default(href="/admin/salas") Cancelar