extends ./layout
block content
    .content-wrapper
        .content
            .info-box
                h4.text-black Empresas
                p Empresas com perfil no Lusoportunas
                .table-responsive
                    table#example1.table.table-bordered.table-striped
                        thead
                            tr
                                th(scope="col") Empresa
                                th(scope="col") Localização



                        tbody
                            each user in users
                                each company in user.company
                                    tr
                                        td: a(href="/empresa/" + company._id)= company.name
                                        td= company.location
    include foote
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/dist/js/niche.js')
    script(src='/dist/plugins/datatables/jquery.dataTables.min.js')
    script(src='/dist/plugins/datatables/dataTables.bootstrap.min.js')
    script.
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    script(src='/dist/plugins/table-expo/filesaver.min.js')
    script(src='/dist/plugins/table-expo/xls.core.min.js')
    script(src='/dist/plugins/table-expo/tableexport.js')
    script.
        $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768',
                animationSpeed: 'fast',
                accoridonExpAll: false
            });
        });
