footer
    #footer.footer
    .footer-bottom
        .container
            p.pull-left  Lusoportunas ©  2018
            .pull-right
                ul.nav.nav-pills
                    li
                        i.fa.fa-facebook
                    li
                        i.fa.fa-twitter
                    li
                        i.fa.fa-google-plus
    // /.footer-bottom
