extends c/layout
block content
    .content-wrapper
        .heading
            header.masthead.text-center.text-white.d-flex
                .container.my-auto
                    .row
                        .col-lg-10.mx-auto
                            .centerspace
                                h1
                                    .typing-text Faz-te à pista

    main

        .container
            // Section: Main info
            section.mt-5.wow.fadeIn
                // Grid row
                .row
                    // Grid column
                    .col-md-6.mb-4
                        img.img-fluid.z-depth-1-half(src='https://png.icons8.com/office/1600/find-matching-job.png', alt='')
                    // Grid column
                    // Grid column
                    .col-md-6.mb-4
                        // Main heading
                        h3.h3.mb-3 A tua plataforma de Empregos
                        p
                            | A plataforma Nacional que permite divulgar o seu currículo e arranjar emprego

                        // Main heading
                        hr
                        p
                            |  A melhor plataforma para arranjar colaboradores de diversas áreas.
                            |  . O perfil dos utilizadores tem em conta a sua experiência, educação e curriculo.
                        // CTA
                        a.btn.btn-indigo.btn-md(target='_blank', href='/registar')
                            | Para quem procura emprego
                            i.fa.fa-vcard.ml-1
                        a.btn.btn-indigo.btn-md(target='_blank', href='/registar')
                            | Para quem quer arranjar colaboradores
                            i.fa.fa-image.ml-1
                    // Grid column
                // Grid row
            // Section: Main info
            hr.my-5
            // Section: Main features & Quick Start
            section
                h3.h3.text-center.mb-5 Uma ligação entre si e todos
                // Grid row
                .row.wow.fadeIn
                    // Grid column
                    .col-sm
                        // First row
                        .row
                            .col-1.mr-3
                                i.fa.fa-code.fa-2x.indigo-text
                            .col-10
                                h5.feature-title Perfil customizado
                                p.grey-text Com o Lusoportunas poderá criar um perfil próprio com as informações que precisa para se empregar
                        // /First row
                        div(style='height:30px')
                        // Second row
                        .row
                            .col-1.mr-3
                                i.fa.fa-book.fa-2x.blue-text
                            .col-10
                                h5.feature-title Plataforma para recrutas
                                p.grey-text
                                    | Temos a solução ideal para optimizar o processo de recruta de colaboradores para a sua empresa. A sua empresa terá uma página no Lusoportunas o que permite definar a visão e missão da sua empresa connosco.
                        // /Second row
                        div(style='height:30px')
                        // Third row
                        .row
                            .col-1.mr-3
                                i.fa.fa-graduation-cap.fa-2x.cyan-text
                            .col-10
                                h5.feature-title Divulgue a sua Empresa
                                p.grey-text
                                    | Connosco poderá ter um perfil para a sua Empresa ou Marca em que poderá divulgar a sua missão e objectivos
                                    | no contexto dos utilizadores terem uma imagem clara da sua organização

        include footer
