extends layout

block content
    .wrapper
        .heading
            header.masthead.text-center.text-white.d-flex
                .container.my-auto
                    .row
                        .col-lg-10.mx-auto
                            .centerspace
                                h1
                                    .typing-text Faz-te à pista
                    .row
                        .col-sm-2.mx-auto
                            a.btn.btn-dark.btn-xl.js-scroll-trigger(href='#about') Preciso de colaboradores.
                        .col-sm-2.mx-auto
                            a.btn.btn-dark.btn-xl.js-scroll-trigger(href='#about') Preciso de emprego.


    footer.card-footer
        p Copyright 2018 - Lusoportunas.com

