doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        script(src='/jquery.min.js')
        script(src='/popper.min.js')
        script(src='/js/jquery.dataTables.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/dataTables.bootstrap4.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='/css/styles.css', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/css/dataTables.bootstrap4.css', rel='stylesheet', type='text/css')
        title Lusoportunas
        link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
                ul.navbar-nav.mr-auto

                    if(ruser)
                        if(ruser.admin)
                            li.dropdown.show
                                a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= "Gestão"
                                .dropdown-menu(aria-labelledby='dropdownMenuLink')
                                    a.dropdown-item(href='/admin/artigos') Artigos
                                    a.dropdown-item(href='/admin/salas') Salas
                                    a.dropdown-item(href='/admin/trabalhos') Trabalhos
                                    a.dropdown-item(href='/admin/utilizadores') Utilizadores
                    li.nav-item
                        a.nav-link(href='/empresas') Empresas
                    li.nav-item
                        a.nav-link(href='/trabalhos') Trabalhos
                    li.nav-item
                        a.nav-link(href='/artigos') Artigos
                    li.nav-item
                        a.nav-link(href='#') Pesquisar
            .mx-auto.order-0
                a(href="/")
                    img(src='/img/logo-ex.png', alt='Lusoportunas Logo')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='.dual-collapse2')
                    span.navbar-toggler-icon
            .navbar-collapse.collapse.w-100.order-3.dual-collapse2
                ul.navbar-nav.ml-auto
                    if(ruser)
                        li.dropdown.show
                            a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Conta
                            .dropdown-menu(aria-labelledby='dropdownMenuLink')
                                a.dropdown-item(href='/perfil') Perfil
                                    if(ruser.role === "Recruta")
                                        a.dropdown-item(href='/minhasEmpresas') Empresas
                                a.dropdown-item(href='/sair') Sair
                        li.nav-item
                                a.nav-link= ruser.name.title + " " + ruser.name.firstName + " " + ruser.name.lastName
                    if(!ruser)
                        li.nav-item
                            a.nav-link(href='/registar') Registar
                        li.nav-item
                            a.nav-link(href='/entrar') Entrar
        block content