extends layout
block content
    .container.py-5
        .row
            .col-md-12
                .row
                    .col-md-8.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Iniciar sessão
                            .card-body
                                form.form(role='form', autocomplete='off', action="/entrar", method="post")
                                    .form-group
                                        label Email:
                                        input.form-control(type='text', name='username')
                                    .form-group
                                        label Password:
                                        input.form-control(type='password', name='password')
                                    .form-group
                                        input.btn.btn-primary(type='submit', value='Entrar')
