extends layout

block content
    body
        .blog-header
            .container
                .row
                    .col-lg-1
                h1.blog-title Sobre
                p.lead.blog-description Esta pagina foi criada para puder ajudar com qualquer duvida que tenha em relação ao site

        .container
            .row
                .col-sm-8.blog-main
                    .blog-post
                        h2.blog-post-title O que é lusoportunas?
                        p.blog-post-meta
                        hr
                        p
                            |Lusoportunas e um site de empregos desenhado para facilitar a cominicaçao? entre candidato e empregador.

                        h2 Porque usar lusoportunas?
                        hr
                        p
                            |Lusoportunas esta desenhado para puder? evoluir dependente??? das necessidades dos seus utilizadores.

                        h2 O que oferecemos?
                        hr
                        p

                        ul
                            li Uma nova forma de puder??????? contactar com o mundo dos negocios??????????????????????????????'
                            li Uma nova maneira de criar relaçoes??????? entre empregador e candidato.
                .col-sm-3.offset-sm-1.blog-sidebar
                    .sidebar-module.sidebar-module-inset
                        h4 Mais informação
                        p
                            | Para mais informação
                            em  por favor contacte a equipa
                            |  de desenvolvimento.??

    footer.card-footer
        p Copyright 2018 - Lusoportunas.com