.container
    .row
        .col-md-6
            form(method='post', action='http://localhost:7217/upload', enctype='multipart/form-data')
                .form-group.files
                    label Upload Your File
                    input.form-control(type='file', multiple='', name="sampleFile")
                    input(type="submit", value="upload")
