extends ./layout
block content
    .content-wrapper
        .content
            .row.m-t-3
                .col-lg-12
                    .card
                        .card-header.bg-blue
                            h5.text-white.m-b-0 Perfil
                        .card-body
                            form
                                .row
                                    .col-md-6
                                        .form-group.has-feedback
                                            label.control-label Primeiro Nome
                                            input.form-control(placeholder='Primeiro Nome', name="fistName", type='text')
                                            span.fa.fa-user.form-control-feedback(aria-hidden='true')
                                    .col-md-6
                                        .form-group.has-feedback
                                            label.control-label Apelidos
                                            input.form-control(placeholder='Apelicos', name='lastName', type='text')
                                            span.fa.fa-user.form-control-feedback(aria-hidden='true')
                                    .col-md-6
                                        .form-group.has-feedback
                                            label.control-label E-mail
                                            input.form-control(placeholder='E-mail', type='text')
                                            span.fa.fa-envelope-o.form-control-feedback(aria-hidden='true')
                                    .col-md-6
                                        .form-group.has-feedback
                                            label.control-label Contacto Telefónico
                                            input.form-control(placeholder='Contact Number', type='text', name='mobile')
                                            span.fa.fa-phone.form-control-feedback(aria-hidden='true')
                                    .col-md-6
                                        .form-group.has-feedback
                                            label.control-label Website
                                            input.form-control(placeholder='https://', type='text', name='website')
                                            span.fa.fa-globe.form-control-feedback(aria-hidden='true')
                                    .col-md-12
                                        .form-group.has-feedback
                                            label.control-label Biografia
                                            textarea#placeTextarea.form-control(rows='3', placeholder='Bio', name='biography', value=user.biography)
                                    .col-md-12
                                        button.btn.btn-success(type='submit') Guardar

    include foote
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='dist/js/luso.js')
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768',
                animationSpeed: 'fast',
                accoridonExpAll: false
            });
        });
