doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title=title
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
        link(rel='stylesheet', href='dist/css/style.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='dist/css/et-line-font/et-line-font.css')
        link(rel='stylesheet', href='dist/css/themify-icons/themify-icons.css')
        link(rel='stylesheet', href='dist/plugins/hmenu/ace-responsive-menu.css')
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body.hold-transition.login-page
        .login-box
            .login-box-body
                h3.login-box-msg Registar-se
                form(role='form', autocomplete='off', action="/registar", method="post")
                    .form-group
                        label(for='title') Título de nome
                        select.combobox.input-large.form-control(name='name.title')
                            option(value='', selected='selected') Dr, Engº? ..
                            option(value='Sr.') Sr.
                            option(value='Sra.') Sra.
                            option(value='Dr.') Dr.
                            option(value='Drª') Drª.
                            option(value='Engº') Engº.
                            option(value='Engª') Engª.
                    .form-group
                        label(for='role') Tipo de utilizador
                        select.combobox.input-large.form-control(name='role')
                            option(value='', selected='selected') É recruta? Procura emprego?
                            option(value='Recruta') Recruta
                            option(value='Utilizador') Utilizador
                    .form-group
                        label(for='name.firstName') Primeiro Nome
                        input#inputName.form-control(type='text', name="name.firstName", placeholder='Primeiro Nome')
                    .form-group
                        label(for='name.lastName') Apelido(s)
                        input#linputlName.form-control(type='text', name="name.lastName", placeholder='Apelido(s)')

                    .form-group
                        label(for='email') Email
                        input#inputEmail3.form-control(type='email',  placeholder='email@gmail.com', required='', name="username")
                    .form-group
                        label(for='password') Password
                        input#inputPassword3.form-control(type='password', name='password', placeholder='password', title='At least 6 characters with letters and numbers', required='')
                    .form-group
                        label(for='verifypassword') Verificação
                        input#inputVerify3.form-control(type='password', placeholder='password (novamente)', required='')
                    .form-group
                        label(for='district') Distrito
                        select.combobox.input-large.form-control(name='address.district')
                            option(value='', selected='selected') Seleccione um Distrito
                            option(value='Aveiro') Aveiro
                            option(value='Beja') Beja
                            option(value='Braga') Braga
                            option(value='Bragança') Bragança
                            option(value='Castelo Branco') Castelo Branco
                            option(value='Coimbra') Coimbra
                            option(value='Évora') Évora
                            option(value='Faro') Faro
                            option(value='Guarda') Guarda
                            option(value='Leiria') Leiria
                            option(value='Lisboa') Lisboa
                            option(value='Portalegre') Portalegre
                            option(value='Porto') Porto
                            option(value='Santarém') Santarém
                            option(value='Setúbal') Setúbal
                            option(value='Viana do Castelo') Viana do Castelo
                            option(value='Vila Real') Vila Real
                            option(value='Viseu') Viseu
                            option(value='Angra do Heroísmo') Distrito de Angra do Heroísmo
                            option(value='Funchal') Distrito do Funchal
                            option(value='Horta(Açores)') Distrito da Horta
                            option(value='Lamego') Distrito de Lamego
                            option(value='Ponta Delgada') Distrito de Ponta Delgada
                        script(src='js/bootstrap-combobox.js')
                        script.
                            $(document).ready(function () {
                                $('.combobox').combobox()
                            });
                    .form-group
                        label(for='email') Código Postal
                        input#inputPostalCode.form-control(type='text', name="address.postalcode",  placeholder='Código Postal', required='')
                    div
                        .col-xs-8
                            .checkbox.icheck
                                label
                                    input(type='checkbox')
                                    |                Concordo com os Termos e Condições
                        // /.col
                        .col-xs-4.m-t-1
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Registar
                        // /.col
                .m-t-2
                    | Já tem conta?
                    a.text-center(href='/entrar') Entre
        script(src='/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/dist/js/luso.js')
