extends ../../c/layout

block content
    .content-wrapper
        .content
            .row
                .col-md-12
                    h2.text-center.mb-5 Adicionar oferta
                    .row
                        .col-md-9.mx-auto
                            .card.border-secondary
                                .card-header
                                    h3.mb-0.my-2 Detalhes da oferta
                                .card-body
                                    form.form(role='form', autocomplete='off', method="post", action="/trabalho/adicionar")
                                        .form-group
                                            label(for='companyName') Empresa
                                            select.combobox.input-large.form-control(name='companyName')
                                                option(value='', selected='selected')
                                                    each user in users
                                                            each company in user.company
                                                                option(value=company.name)=company.name
                                            i Não encontra a empresa?
                                                a(href='/perfil/' + ruser._id + '/' + 'adicionarEmpresa')=" adicione a sua"
                                        .form-group
                                            label(for='jobType') Tipo de Trabalho
                                            select.combobox.input-large.form-control(name='jobType')
                                                option(value='', selected='selected') Tipo de Trabalho
                                                option(value='Estágio') Estágio
                                                option(value='Freelancer') Freelancer
                                                option(value='Part-Time') Part-Time
                                                option(value='Tempo Inteiro') Tempo Inteiro
                                                option(value='Voluntariado') Voluntariado
                                        .form-group
                                            label(for='jobSector') Industria
                                            select.combobox.input-large.form-control(name='jobSector')
                                                option(value='', selected='selected') Industria
                                                option(value='Telecomunicacoes') Telecomunicações
                                                option(value='Contact Centers') Contact Centers
                                                option(value='Outros Serviços') Outros Serviços
                                                option(value='Tecnologias de Informação') Tecnologias de Informação
                                                option(value='Transportes/Logítica') Transportes/Logistica
                                                option(value='Hotelaria/Restauração') Hotelaria/Restauração
                                                option(value='Retalho') Retalho
                                                option(value='Industria') Industria
                                                option(value='Automóvel') Automóvel
                                                option(value='Publicidade') Publicidade
                                                option(value='Software/Hardware') Software/Hardware
                                                option(value='Energia') Energia
                                                option(value='Imobiliario') Imobiliario
                                                option(value='Construção Civil') Construção Civil
                                                option(value='Hotelaria') Hotelaria
                                                option(value='Banca') Banca
                                                option(value='Internet') Internet
                                                option(value='Seguranca') Seguranca
                                                option(value='Turismo') Turismo
                                                option(value='Grande Consumo') Grande Consumo
                                                option(value='Agro-alimentar') Agro-alimentar
                                                option(value='Desporto') Desporto
                                                option(value='Engenharias') Engenharias
                                                option(value='Multimédia') Multimédia
                                                option(value='Multimédia') Multimédia
                                                option(value='Moda') Moda
                                                option(value='Imprensa') Imprensa
                                                option(value='Seguros') Seguros
                                                option(value='Serviços Sociais') Serviços Sociais
                                                option(value='Farmaceutico') Farmaceutico
                                                option(value='Materiais de Construção') Materiais de Construcão
                                                option(value='Banca de Investimento') Banca de Investimento
                                                option(value='Defesa') Defesa
                                                option(value='Ambiente') Ambiente
                                                option(value='Artes') Artes
                                                option(value='Bebidas') Bebidas
                                                option(value='Cultura') Cultura
                                                option(value='Educação') Educação
                                                option(value='Sector Público') Sector Público
                                                option(value='Aviação / Aeroespacial') Aviação / Aeroespacial
                                                option(value='Biotecnologia') Biotecnologia
                                                option(value='Bebidas') Bebidas
                                                option(value='Ciências Aplicadas') Ciências Aplicadas
                                                option(value='Hospitalar') Hospitalar
                                        .form-group
                                            label(for='body.jobFunction') Função
                                            select.combobox.input-large.form-control(name='jobFunction')
                                                option(value='', selected='selected') Função
                                                option(value='Comercial / Vendas') Comercial / Vendas
                                                option(value='Atendimento ao Cliente') Atendimento ao Cliente
                                                option(value='Apoio ao Cliente') Apoio ao Cliente
                                                option(value='Técnicos Especializados') Técnicos Especializados
                                                option(value='Vendas') Vendas
                                                option(value='Desenvolvimento Comercial') Desenvolvimento Comercial
                                                option(value='Telemarketing') Telemarketing
                                                option(value='Marketing') Marketing
                                                option(value='Suporte IT') Suporte IT
                                                option(value='Industrial / Fabrico') Industrial / Fabrico
                                                option(value='Hotelaria') Hotelaria
                                                option(value='Logistica') Logistica
                                                option(value='Developer TI') Developer TI
                                                option(value='Gestão') Gestão
                                                option(value='Administrativo') Administrativo
                                                option(value='Tradução / Linguas') Tradução / Linguas
                                                option(value='Marketing Digital') Marketing Digital
                                                option(value='Engenharia Informática') Engenharia Informática
                                                option(value='Gestao de Equipas') Gestao de Equipas
                                                option(value='Recursos Humanos') Recursos Humanos
                                                option(value='Restauração') Restauração
                                                option(value='Distribuição') Distribuição
                                                option(value='Publicidade') Publicidade
                                                option(value='Account') Account
                                                option(value='Finanças') Finanças
                                                option(value='Crédito') Crédito
                                                option(value='Contabilidade') Contabilidade
                                                option(value='Estratégia / Planeamento') Estratégia / Planeamento
                                                option(value='Gestão de Projectos') Gestão de Projectos
                                                option(value='Engenharia Civil') Engenharia Civil
                                                option(value='Gestão de Produtos') Gestão de Produtos
                                                option(value='Engenharia Mecânica') Engenharia Mecânica
                                                option(value='Análise Financeira') Analise Financeira
                                                option(value='Compras') Compras
                                                option(value='Direito') Direito
                                                option(value='Engenharias') Engenharias
                                                option(value='Engenharia Electrotécnica') Engenharia Electrotécnica
                                                option(value='Formação') Formação
                                                option(value='Auditoria') Auditoria
                                                option(value='Comunicação Social') Comunicação Social
                                                option(value='Direcção') Direcção
                                                option(value='Saúde/Medicina') Saúde/Medicina
                                                option(value='Economia') Economia
                                                option(value='Arquitectura') Arquitectura
                                                option(value='CAD') CAD
                                                option(value='Design') Design
                                                option(value='Direito') Direito
                                                option(value='Pesquisa/Research') Pesquisa/Research
                                        .form-group
                                            label(for='cargo') Cargo
                                            input#inputName.form-control(type='text', name="cargo", placeholder='O Cargo')

                                        .form-group
                                            label(for='gender') Genero
                                            select.combobox.input-large.form-control(name='gender')
                                                option(value='', selected='selected') Genero
                                                option(value='M') M
                                                option(value='F') F
                                                option(value='M/F') (M/F)

                                        .form-group
                                            label(for='location') Localização
                                            input#inputName.form-control(type='text', name="location", placeholder='Localização')
                                        .form-group
                                            label(for='body.responsabilidades') Responsabilidades
                                            textarea#exampleFormControlTextarea1.form-control(rows='3', name="responsabilidades", placeholder='insira as responsabilidades')

                                        .form-group
                                            label(for='body.requisitos') Requisitos
                                            textarea#exampleFormControlTextarea1.form-control(rows='3', name="requisitos", placeholder='insira os requisitos')
                                        .form-group
                                            label(for='body.beneficios') Benefícios
                                            textarea#exampleFormControlTextarea1.form-control(rows='3', name="beneficios", placeholder='insira os benefícios')
                                        .form-group
                                            label(for='vagas') Vagas
                                            input#inputName.form-control(type='text', name="vagas", placeholder='Vagas')
                                        .form-group
                                            label(for='body.vagas') Oferta
                                            input#inputName.form-control(type='text', name="oferta", placeholder='Oferta')
                                        .form-group
                                            label(for='expirationDate') Data de expiração
                                            input.form-control(name="expirationDate", type="date", placeholder="Data de expiração")
                                            script(src='/js/bootstrap-combobox.js')
                                            script.
                                                $(document).ready(function () {
                                                    $('.combobox').combobox()
                                                });
                                        .form-group
                                            button.btn.btn-success.btn-lg.float-right(type='submit') Criar anúncio

        include ../../c/foote
        script(src='/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/dist/js/luso.js')
        script(src='/dist/plugins/datatables/jquery.dataTables.min.js')
        script(src='/dist/plugins/datatables/dataTables.bootstrap.min.js')
        script.
            $(function () {
                $('#example1').DataTable()
                $('#example2').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                })
            })
        script(src='/dist/plugins/table-expo/filesaver.min.js')
        script(src='/dist/plugins/table-expo/xls.core.min.js')
        script(src='/dist/plugins/table-expo/tableexport.js')
        script.
            $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
        script(src='/dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
        script(type='text/javascript').
            $(document).ready(function () {
                $("#respMenu").aceResponsiveMenu({
                    resizeWidth: '768',
                    animationSpeed: 'fast',
                    accoridonExpAll: false
                });
            });
