extends ./layout
block content
    .content-wrapper
        .content
            .info-box
                h4.text-black Candidaturas
                p As candidaturas que recebeu nos anúncios de trabalho
                .table-responsive
                    table#example2.table.table-bordered.table-hover(data-name='cool-table')
                        thead
                            tr
                                th(scope="col") Candidatura
                                th(scope="col") Anúncio
                                th(scope="col") Candidato
                                th(scope="col") Data
                        tbody
                            each job in jobs
                                each application in job.application
                                    tr
                                        td: a(href="/perfil/"+application.ruser._id)= "Abrir"
                                        td= job.jobFunction
                                        td: a(href="/perfil/"+application.ruser._id)= application.ruser.name.firstName + " " + application.ruser.name.lastName
                                        td= application.body.bdate.toLocaleDateString()
    include ./foote
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='dist/js/luso.js')
    script(src='dist/plugins/datatables/jquery.dataTables.min.js')
    script(src='dist/plugins/datatables/dataTables.bootstrap.min.js')
    script.
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    script(src='dist/plugins/table-expo/filesaver.min.js')
    script(src='dist/plugins/table-expo/xls.core.min.js')
    script(src='dist/plugins/table-expo/tableexport.js')
    script.
        $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    // Plugin Initialization
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768', // Set the same in Media query
                animationSpeed: 'fast', //slow, medium, fast
                accoridonExpAll: false //Expands all the accordion menu on click
            });
        });
