extends ./layout
block content
    .content-wrapper
        .content
            .info-box
                h4.text-black As suas candidaturas
                .table-responsive
                    table#example2.table.table-bordered.table-hover(data-name='cool-table')
                        thead
                            tr
                                th(scope="col") Candidatura
                                th(scope="col") Anúncio
                                th(scope="col") Empresa
                                th(scope="col") Data
                        tbody
                            each job in jobs
                                -let userid = ruser._id
                                each application in job.application
                                    if(application.ruser._id.toLocaleString() === userid.toLocaleString())
                                        tr
                                            td: a(href="/application/" + application._id)= "Abrir"
                                            td= application.body.application
                                            td=application.company
                                            td= application.body.bdate.toLocaleDateString()
    include ./foote
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='dist/js/luso.js')
    script(src='dist/plugins/datatables/jquery.dataTables.min.js')
    script(src='dist/plugins/datatables/dataTables.bootstrap.min.js')
    script.
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    script(src='dist/plugins/table-expo/filesaver.min.js')
    script(src='dist/plugins/table-expo/xls.core.min.js')
    script(src='dist/plugins/table-expo/tableexport.js')
    script.
        $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    // Plugin Initialization
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768',
                animationSpeed: 'fast',
                accoridonExpAll: false
            });
        });
