extends ../../../../c/layout

block content
    .container.py-5
        .row
            .col-md-12
                h2.text-center.mb-1
                .row
                    .col-md-9.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Adicionar Educação
                            .card-body
                                form.form(role='form', autocomplete='off', method="post")
                                    .form-group
                                        label(for='school') Instituição
                                        input#inputName.form-control(type='text', name="school", value="")
                                    .form-group
                                        label(for='location') Formação
                                        input#2inputName.form-control(type='text', name="formation", value="")
                                    .form-group
                                        label(for='location') Localização
                                        input#2inpu3tName.form-control(type='text', name="location", value="")
                                    .form-group
                                        label(for='study_area') Área de Estudo
                                        input#2in2opu3tName.form-control(type='text', name="study_area", value="")
                                    .form-group
                                        label(for='qualification') Qualificação
                                        input#2in2pu3tName.form-control(type='text', name="qualification", value="")
                                    .form-group
                                        button.btn.btn-success.btn-lg.float-right(type='submit') Guardar