extends ../../c/layout

block content
    .container.py-5
        .row
            .col-md-12
                h2.text-center.mb-1
                .row
                    .col-md-9.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Adicionar Empresa
                            .card-body
                                form.form(role='form', autocomplete='off', action="http://localhost:7217/perfil/" +ruser._id+"/adicionarEmpresa", enctype='multipart/form-data', method="post")
                                    .form-group
                                        label(for='name') Nome da Empresa
                                        input.form-control(type='text', name="name", value="")
                                    .form-group
                                        label(for='location') Localização (Localidade/Distrito)
                                        input.form-control(type='text', name="location", value="")
                                    .form-group
                                        label(for='description') Descrição
                                        input.form-control(type='text', name="description", value="")
                                    .form-group
                                        label(for='location') Missão
                                        input.form-control(type='text', name="mission", value="")
                                    .form-group
                                        label(for='location') Objectivos
                                        input.form-control(type='text', name="objectives", value="")
                                    .form-group
                                        label(for='location') Website
                                        input.form-control(type='text', name="website", value="")
                                    .form-group
                                        .form-group.files
                                            label Inserir imagem da Empresa
                                            input.form-control(type='file', multiple='', name="profilePicture", value="logo")
                                    .form-group
                                        button.btn.btn-success.btn-lg.float-right(type='submit') Guardar
        script(src='/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/dist/js/luso.js')
        script(src='/dist/plugins/datatables/jquery.dataTables.min.js')
        script(src='/dist/plugins/datatables/dataTables.bootstrap.min.js')
        script.
            $(function () {
                $('#example1').DataTable()
                $('#example2').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                })
            })
        script(src='/dist/plugins/table-expo/filesaver.min.js')
        script(src='/dist/plugins/table-expo/xls.core.min.js')
        script(src='/dist/plugins/table-expo/tableexport.js')
        script.
            $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
        script(src='/dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
        script(type='text/javascript').
            $(document).ready(function () {
                $("#respMenu").aceResponsiveMenu({
                    resizeWidth: '768',
                    animationSpeed: 'fast',
                    accoridonExpAll: false
                });
            });
