extends ../../layout

block content
    .container.py-5
        .row
            .col-md-12
                h2.text-center.mb-1
                .row
                    .col-md-9.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Adicionar Empresa
                            .card-body
                                form.form(role='form', autocomplete='off', action="http://localhost:7217/perfil/" +ruser._id+"/adicionarEmpresa", enctype='multipart/form-data', method="post")
                                    .form-group
                                        label(for='name') Nome da Empresa
                                        input.form-control(type='text', name="name", value="")
                                    .form-group
                                        label(for='location') Localização (Localidade/Distrito)
                                        input.form-control(type='text', name="location", value="")
                                    .form-group
                                        label(for='description') Descrição
                                        input.form-control(type='text', name="description", value="")
                                    .form-group
                                        label(for='location') Missão
                                        input.form-control(type='text', name="mission", value="")
                                    .form-group
                                        label(for='location') Objectivos
                                        input.form-control(type='text', name="objectives", value="")
                                    .form-group
                                        .form-group.files
                                            label Inserir/Atualizar Logo de empresa
                                            input.form-control(type='file', multiple='', name="sampleFile", value="company.logo")
                                    .form-group
                                        button.btn.btn-success.btn-lg.float-right(type='submit') Guardar
