extends ../../layout

block content
    .container.container-fluid
        .container
            .row
                .col-md-9
                    .row.m-lg-8
                        h2 Empresas
                        form(method="get")
                            #custom-search-input
                                .input-group.col-lg-12
                                    input.form-control.input-lg(type='text', placeholder='Buscar', name="name")
                                    span.input-group-btn
                                        button.btn.btn-info.btn-lg(type='submit')
                                            i.fa.fa-search

        table.table.table-striped
            thead
                tr
                    th(scope="col") Empresa
                    th(scope="col") Localização



            tbody
                each user in users
                    each company in user.company
                        tr
                            td: a(href="/empresa/" + company._id)= company.name
                            td= company.location