extends ../../layout

block content
    .container.py-5
        .row
            .col-md-12
                h2.text-center.mb-9
                .row
                    .col-md-9.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Adicionar Utilizador
                            .card-body
                                form.form(role='form', autocomplete='off', method="post", action="/admin/utilizadores/adicionar")
                                    .form-group
                                        label(for='role') Tipo de utilizador
                                        select.combobox.input-large.form-control(name='role')
                                            option(value='', selected='selected') Função
                                            option(value='Recruta') Recruta
                                            option(value='Utilizador') Utilizador
                                    .form-group
                                    .form-group
                                        label(for='title') Título
                                        select.combobox.input-large.form-control(name='name.title')
                                            option(value='', selected='selected') titulo
                                            option(value='Sr.') Sr.
                                            option(value='Sra.') Sra.
                                            option(value='Dr.') Dr.
                                            option(value='Drª') Drª.
                                            option(value='Engº') Engº.
                                            option(value='Engª') Engª.
                                    .form-group
                                        label(for='name.firstName') Primeiro Nome
                                        input#inputName.form-control(type='text', name="name.firstName", placeholder='Primeiro Nome')
                                    .form-group
                                        label(for='name.lastName') Apelido(s)
                                        input#linputlName.form-control(type='text', name="name.lastName", placeholder='Apelido(s)')

                                    .form-group
                                        label(for='email') Email
                                        input#inputEmail3.form-control(type='email',  placeholder='email@gmail.com', required='', name="username")
                                    .form-group
                                        label(for='password') Password
                                        input#inputPassword3.form-control(type='password', name='password', placeholder='password', title='At least 6 characters with letters and numbers', required='')
                                    .form-group
                                        label(for='verifypassword') Verificação
                                        input#inputVerify3.form-control(type='password', placeholder='password (novamente)', required='')
                                    .form-group
                                        label(for='district') Distrito
                                        select.combobox.input-large.form-control(name='address.district')
                                            option(value='', selected='selected') Seleccione um Distrito
                                            option(value='Aveiro') Aveiro
                                            option(value='Beja') Beja
                                            option(value='Braga') Braga
                                            option(value='Bragança') Bragança
                                            option(value='Castelo Branco') Castelo Branco
                                            option(value='Coimbra') Coimbra
                                            option(value='Évora') Évora
                                            option(value='Faro') Faro
                                            option(value='Guarda') Guarda
                                            option(value='Leiria') Leiria
                                            option(value='Lisboa') Lisboa
                                            option(value='Portalegre') Portalegre
                                            option(value='Porto') Porto
                                            option(value='Santarém') Santarém
                                            option(value='Setúbal') Setúbal
                                            option(value='Viana do Castelo') Viana do Castelo
                                            option(value='Vila Real') Vila Real
                                            option(value='Viseu') Viseu
                                            option(value='Angra do Heroísmo') Distrito de Angra do Heroísmo
                                            option(value='Funchal') Distrito do Funchal
                                            option(value='Horta(Açores)') Distrito da Horta
                                            option(value='Lamego') Distrito de Lamego
                                            option(value='Ponta Delgada') Distrito de Ponta Delgada
                                        script(src='/js/bootstrap-combobox.js')
                                        script.
                                            $(document).ready(function () {
                                                $('.combobox').combobox()
                                            });
                                    .form-group
                                        label(for='email') Código Postal
                                        input#inputPostalCode.form-control(type='text', name="address.postalcode",  placeholder='Código Postal', required='')
                                    .form-group
                                        label(for='facebook') Facebook
                                        input#inputfacebook.form-control(type='text', name="social-facebook", placeholder='Introduza o seu URL')
                                    .form-group
                                        label(for='twitter') Twitter
                                        input#inputtwitter.form-control(type='text', name="social-twitter", placeholder='Introduza o seu URL')
                                    .form-group
                                        label(for='linkedin') Linkedin
                                        input#inputlinkedin.form-control(type='text', name="social-linkedin", placeholder='Introduza o seu URL')
                                    .form-group
                                        button.btn.btn-success.btn-lg.float-right(type='submit') Registar
