extends ../../layout

block content
    .container.py-5
        .row
            .col-md-12
                h2.text-center.mb-5 Adicionar Artigo
                .row
                    .col-md-9.mx-auto
                        .card.border-secondary
                            .card-header
                                h3.mb-0.my-2 Artigo
                            .card-body
                                form.form(role='form', autocomplete='off', method="post", action="/admin/artigo/adicionar")
                                    .form-group
                                        label(for='catogry') Categoria
                                        select.combobox.input-large.form-control(name='category')
                                            option(value='', selected='selected') Categoria
                                            option(value='Motivacional') Motivacional
                                            option(value='Geral') Geral
                                            option(value='Lusoportunas') Lusoportunas
                                            option(value='Empregos') Empregos
                                    .form-group
                                        label(for='name') Titulo
                                        input#inputName.form-control(type='text', name="name", placeholder='Titulo do Artigo')
                                    .form-group
                                        label(for='body') Conteúdo
                                        textarea#exampleFormControlTextarea1.form-control(rows='3', name="body", placeholder='insira o seu conteúdo')
                                        script(src='/js/bootstrap-combobox.js')
                                        script.
                                            $(document).ready(function () {
                                                $('.combobox').combobox()
                                            });
                                    .form-group
                                        button.btn.btn-success.btn-lg.float-right(type='submit') Criar artigo
