extends ../../layout

block content
    .container.container-fluid
        .container
            .row
                .col-md-9
                    .row.m-lg-8
                        h2 Artigos
                        form(method="get")
                            #custom-search-input
                                .input-group.col-lg-12
                                    input.form-control.input-lg(type='text', placeholder='Buscar', name="name")
                                    span.input-group-btn
                                        button.btn.btn-info.btn-lg(type='submit')
                                            i.fa.fa-search
                .col-md-3
                    .row.m-lg-0
                        a(href="/admin/artigo/adicionar")
                            span.input-group-btn
                                button.btn.btn-info.btn-lg
                                    i.fa.fa-save

        table.table.table-striped
            thead
                tr
                    th(scope="col")
                    th(scope="col") Titulo
                    th(scope="col")
                    th(scope="col") Categoria
                    th(scope="col") Criado em
                    th(scope="col") ID do artigo
                    th(scope="col") Autor

            tbody
                each article in articles
                    tr
                        td(style="width: 50px;"): a(href="/admin/artigo/eliminar/" + article._id)
                            span.fa.fa-remove
                        td: a(href="/admin/artigo/" + article._id)= article.name
                        td(style="width: 50px;"): a(href="/admin/artigo/editar/" + article._id)
                            span.fa.fa-pencil
                        td= article.category
                        td= article.date.getDate() + "/" + article.date.getMonth() + "/" + article.date.getUTCFullYear()
                        td=article._id
                        td= article.user.name.firstName + " " + article.user.name.lastName